{% extends 'dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">User : {{ object.username }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Student
                </div>
                <div class="card-body">


 <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>student ID:</strong> {{ object.id }}</li>
              <li class="list-group-item"><strong>Firstname :</strong> {{ object.first_name }}</li>
              <li class="list-group-item"><strong>Lastname :</strong> {{ object.last_name }}</li>
              <li class="list-group-item"><strong>Email :</strong> {{ object.ememailail }}</li>
              <li class="list-group-item"><strong>Phone :</strong> {{ object.phone }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer" style="padding-top: 10px">
        <div class="col-12">
                <a href="{% url 'studentlist' %}"><button type="button" class="btn btn-success">Back</button></a>
        </div>
    </div>


          </div>
        </div>
      </div>
    </div>
{% endblock %}
